* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  background-color: transparentize($primary-color, 0.5);
}

header {
  @include flex-center(row);
  margin: 0 25px;
  justify-content: space-between;
  @include media-query {
    display: block;
  }
}

.background-circle,
.logo-box,
.add-trip
 {
  background-image: url('../images/travel-background.png');
  background-size: cover;
}

li {
  list-style-type: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: darken($primary-font-color, 20%)
  }
}

.hidden {
  display: none !important;
}

.traveler-dashboard {
  width: 100%;
  display: grid;
  grid-template-areas:
  'header header header'
  'current current add'
  'past past add';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  @include media-query {
    display: block;
  }
}

.btn {
  cursor: pointer;
  margin: 5px;
  color: $primary-font-color;
  border-radius: 100%;
  font-size: 1em;
  padding: 2px;
  width: 5em;
  height: 5em;
  background-color: $secondary-color;
  border: 1px solid $primary-font-color;
  &:hover,
  &:focus {
    background-color: darken($secondary-color, 10%);
  }
}

.btn-container {
  @include flex-center(row);
}
