.logo-box {
  @include flex-center(column);
  border-radius: 100%;
  height: 150px;
  width: 150px;
  align-self: flex-start;
  margin: 35px;
}

.dash-header {
  grid-area: header;
}

.trips-article {
  @include flex-center(row);
  justify-content: flex-start;
  height: 15em;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 20px;
  img {
    border-radius: 5px;
    height: 200px;
    margin: 0 20px;
  }
  .pending {
    border: 3px solid yellow;
  }
  .approved {
    border: 3px solid green;
  }
}

button.trip {
  @include flex-center(column);
  background: none;
  border: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  .trip-details {
    @include flex-center(column);
    background-color: $primary-color;
    position: absolute;
    top: 10%;
    padding: 5px;
    border-radius: 3px;
  }
  .current {
    background-color: $secondary-color;
  }
  &:hover,
  &:focus {
    filter: brightness(70%);
  }
}

.current-trips-section {
  text-align: center;
  grid-area: current;
  .btn {
    height: 5em;
    width: 5em;
  }
}

.past-trips-section {
  grid-area: past;
}

.add-trip {
  grid-area: add;
  padding: 10px;
  margin: 10px;
  border: 2px solid $primary-font-color;
}

.trip-selections {
  @include flex-center(column);
  background-color: $secondary-color;
  margin: 20px;
  padding: 20px;
  text-align: center;
  .btn {
    background-color: $secondary-font-color;
    &:hover,
    &:focus {
      background-color: darken($secondary-font-color, 10);
    }
  }
  select, input {
    width: 100%;
  }
  select {
    display: block;
  }
}

input,
select {
  height: 1.8em;
  font-size: 1em;
}
