$primary-color: #92DEB1; //teal
$secondary-color: #FDAB92; //peach
$primary-font-color: #65472E; //brown
$secondary-font-color: #FEDB64; //yellow
$approved-color: #C9D25C; // green
$brkpoint-sm: 480px;
