/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-color: #92DEB1; //teal
$secondary-color: #FD8560; //peach
$primary-font-color: #775336; //brown
$secondary-font-color: #FEDB64; //yellow
$approved-color: #C9D25C; // green

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin font-border-outline($fill, $border) {
  -webkit-text-fill-color: $fill;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $border;
}

// LAYOUT

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  background-color: transparentize($primary-color, 0.5);
}

p,
label {
  color: $primary-font-color;
  font-size: 1.2em;
}

.traveler-dashboard {
  width: 100%;
  display: grid;
  grid-template-areas:
  'header header header'
  'current current add'
  'past past add';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

// TRIP DISPLAY PHOTOS

.trip {
  @include flex-center();
  position: relative;
  text-align: center;
  .trip-details {
    @include flex-center();
    background-color: transparentize($primary-color, 0.3);
    position: absolute;
    top: 10%;
  }
}

.dash-header {
  grid-area: header;
}

.current-trips-section {
  grid-area: current;
}

.past-trips-section {
  grid-area: past;
}

.add-trip {
  grid-area: add;
}

.trip-selections {
  @include flex-center();
  background-color: transparentize($secondary-color, 0.3);
  margin: 20px;
  padding: 20px;
  text-align: center;
  .btn--submit{
    background-color: $secondary-font-color;
  }
  select, input {
    width: 100%;
  }
  select {
    display: block;
  }
}

button {

}

// LOGIN SCREEN

.login-screen {
  @include flex-center();
  height: 100%;
}

.background-circle,
.logo-box {
  background-image: url('../images/travel-background.png');
  background-size: cover;
}

.background-circle {
  @include flex-center();
  text-align: center;
  border-radius: 100%;
  width: 33em;
  height: 33em;
}

.login-form {
  @include flex-center();
  background-color: $secondary-font-color;
  border-radius: 100%;
  width: 40%;
  height: 40%;
  padding: 25px;
  .text {
    @include font-border-outline($primary-font-color, $secondary-color);
    font-size: 1.2em;
  }
  .alert {
    color: $primary-font-color;
    font-size: 0.8em;
  }
}

h1,
h2,
h3 {
  @include font-border-outline($primary-font-color, $secondary-font-color);
  text-align: center;
}

h1,
h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

label,
input {
  text-align: center;
  margin: 5px;
  display: block;
  width: 100%;
}

input,
select {
  border: none;
  background-color: transparentize($primary-color, 0.5);
  padding: 2px;
  margin: 5px;
}

.btn {
  margin: 5px;
  color: $primary-font-color;
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  background-color: $secondary-color;
  border: 1px solid $primary-font-color;
}

.hidden {
  display: none;
}

// DASHBOARD

header {
  @include flex-center();
  margin: 0 25px;
  flex-direction: row;
  justify-content: space-between;
}

.logo-box {
  @include flex-center();
  border-radius: 100%;
  height: 150px;
  width: 150px;
  align-self: flex-start;
  margin: 35px;
}


.trips-article {
  @include flex-center()
  justify-content: flex-start;
  flex-direction: row;
  height: 15%;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 20px;
  img {
    height: 200px;
    margin: 0 20px;
  }
  .pending {
    border: 3px solid yellow;
    opacity: 50%;
  }
  .approved {
    border: 3px solid green;
  }
}

// SCROLLBAR

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $secondary-color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: $secondary-color;
}
